{% extends 'base.html' %}

<!DOCTYPE html>
{% load staticfiles %}
<html lang="en-US">
<head>
    <!-- The above 3 meta tags *must* come first in the head -->
    <title>{% block title %} Wallet {% endblock %}</title>

    {% block css %}
        <!-- load custom css -->
    {% endblock %}
</head>
<body>
<header>

</header>


{% block content %}
<h1 class="text-center mt-5" style="color: rebeccapurple">Wallet Software is actually at Development phase</h1>
{% endblock content %}

{% block script %}
    <!-- load custom js -->
{% endblock %}
<footer>

</footer>
</body>
</html>